@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .circle-schadow {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  }
}
html {
  scroll-behavior: smooth;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset; 
  -webkit-text-fill-color: white; 
  transition: background-color 5000s ease-in-out 0s; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.blue::-webkit-scrollbar {
  width: 10px;
  height: 18px;
}

.blue::-webkit-scrollbar-track {
  background-color: transparent;
}

.blue::-webkit-scrollbar-thumb {
  background-color: #b6bbd6;
  border-radius: 20px;
  border: 7px solid transparent;
  background-clip: content-box;
}

.blue::-webkit-scrollbar-thumb:hover {
  background-color: #333d77;
}

.swiper-button-prev {
  --swiper-navigation-sides-offset: -40px;
}
.swiper-button-next {
  --swiper-navigation-sides-offset: -40px;
}
@media (max-width: 1350px) {
  .swiper-button-prev {
    display: none !important;
  }
  .swiper-button-next {
    display: none !important;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  --swiper-navigation-size: 14px;
  font-weight: 800;
  color: gray;
}



.swiper-pagination-bullet {
  --swiper-pagination-bullet-width: 20px;
  --swiper-pagination-bullet-height: 3px;
  --swiper-pagination-color: #0d0628;
  border-radius: 10px !important;
}
.pagination-bullets.swiper-pagination-horizontal {
  width: 100px !important;
}
.swiper-button-disabled {
  opacity: 0 !important;
}
